services:
  indofastnet-web:
    image: nginx:alpine 
    volumes:
      - ./site:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
    networks:
      - cloudflared

networks:
  cloudflared:
    external: true
